

.container {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  .title {
    padding-left: 210px;
    padding-bottom: 14px;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
}

.feed {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-direction: row;
  padding: 0 12px 12px 200px;
  .commonCard {
    margin-right: 60px;
    min-width: 480px;
    border-radius: 18px;
    overflow: hidden;
    height: fit-content;
  }
  .card {
    .commonCard();
    :global {
      .ant-card-body {
        padding: 0px;
        width: 480px;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .detail {
      height: 100%;
      .img {
        height: 100%;
      }
    }
  }
  .lastCard {
    .commonCard();
    height: 360px;
    background-color: #fafafa;
    &:hover {
      h1 {
        color: #1890ff;
      }
    }
  }
  &:nth-child(1) {
    margin-left: 200px;
  }
}