.intro {
  
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 100px 0px 140px;
  .timeline {
    padding-top: 40px;
    width: 400px;
    .timelineItem {
      &:hover {
        color: #1890ff;
        cursor: pointer;
      }
    }
    .timelineSelectedItem {
      font-weight: 700px;
      color: #1890ff;
    }
  }
  .card {
    width: 800px;
    height: 100%;
    position: sticky;
    top: 80px;
    margin-bottom: 40px;
    :global(.ant-card-body) {
      padding: 10px;
      padding-bottom: 0px;
    }
    .carousel {
      padding-bottom: 0px;
      .img {
        width: fit-content !important;
        height: calc(100vh - 340px);
      }
      :global(.slick-slide) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}