.descriptions {
  padding: 10px 200px 0px 200px;
  margin-bottom: 500px;
  .formContainer {
    > span {
      margin-left: 100px;
      margin-bottom: 12px;
    }
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  .container {
    padding-top: 0px;
    .descriptions {
      width: 100vw;
      padding-top: 0px;
      padding-right: 0px;
      margin-bottom: 200px;
      .div {
        overflow-x: scroll;
      }
    }
  }
}